<%- include ('partials/header') %>

<!-- <main class="container grid" id="productos">
   

   </div>

</main> -->

<main class="container grid ">
   <% data.forEach(entry => { %>
    <article class="card" id="products">
        <img class="img-fluid" src=<%- entry.url_image %> >
        <div class="card-content">
            <h5>
                <%- entry.name %>
            </h5>
            <!-- <h3>Categoria: <%- entry.category %></h3> -->
            <h5>$ <%- entry.price %></h5>
            <a class="btn btn-dark" href=product/<%- entry.id %> >Comprar</a>
        </div>
    </article>

  <% });  %>
  <div class="break"></div>
  
</main>
  <div class="paginador">
     <!--Mostrar los enlaces del paginador-->
          <% if ((page > 1) && (page <= numberOfPages)) { %> <a href="/?page=<%=page-1%>">Previous</a> <% } %>
     
     <% for(let i = 1; i <= endingLink; i++) { %>
        
        <% if(i === page) { %>
         <a class="selectedLink" href="/?page=<%=i%>"><%=i%></a>
         <% continue; %>
     <% } %>
         <a href="/?page=<%=i%>"><%=i%></a>
         <% } %>
         <% if(page > 0 && page < numberOfPages)   { %> <a href="/?page=<%=page+1%>">Next</a> <% } %>
         
  </div>
 

   <%- include ('partials/footer') %>